@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.testimonial{
    background-color: white;
}

.testimonial__header{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.testimonial__header > h1{
    font-size: 48px;
    font-weight: 700;
    color: #6699FF;
    margin-bottom: 12px;
    font-family: 'Mulish';
}

.testimonial__header > p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 78px;
}

.round2{
    display: flex;
    flex-direction: row;
    margin-bottom: 126px;
}

.round__image{
    margin-left: 165px;
    margin-right: 125px;
}

.round{
    display: flex;
    flex-direction: column;
}

.quote{
    margin-top: 32px;
    margin-bottom: 18px;
}

.dream{
    margin-bottom: 18px;
    font-size: 32px;
    font-weight: 700;
    max-width: 560px;
}

.round > p{
    font-size: 24px;
    font-weight: 300; 
    max-width: 540px;
}

.name{
    font-size: 24px;
    font-weight: 600; 
    max-width: 540px;
    margin-bottom: -10px;
}

.title{
    font-size: 18px;
    font-weight: 400; 
    max-width: 540px;
    margin-top: 18px;
    margin-bottom: 126px;
}